h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
#gnb .top {
    border-bottom: solid 1px #ddd;
    text-align: right;
}
#gnb .top ul li {
    display: inline-block;
    padding: 5px;
    border-left: solid 1px #ddd;
}
#gnb .top ul li:last-of-type {
    border-right: solid 1px #ddd;
}
#gnb .bottom {
    display: flex;
    border-bottom: solid 3px navy;
}
#gnb .bottom div {
    flex: 1;
}
#gnb .bottom .logo_area img {
    width: 100px;
}
#gnb .bottom .menu_area ul {
    display: flex;
}
#gnb .bottom .menu_area ul li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}
#main_img img {
    width: 100%;
}

#link_banner ul {
    display: flex;
}
#link_banner ul li {
    flex: 1;
    padding: 5px 15px;
    font-size: 12px;
    border-top: solid 1px #ccc; 
    border-left: solid 1px #ccc; 
    border-bottom: solid 1px #ccc; 
}
#link_banner ul li:last-of-type {
    border-right: solid 1px #ccc;
}
#link_banner ul li i {
    float: left;
    font-size: 2.5em;
}
#link_banner ul li h4 {
    float: left;
}
#link_banner ul li p {
    float: left;
}